# Node modules
node_modules/

# Database
*.db
*.db-journal

# Temporary files
temp/

# Environment variables
.env

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
